<div class="cmd cmd-widget buttonIcon" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="title #hide_name#">
      <div class="cmdName">#valueName#</div>
    </div>
    <div class="customButton">
      <span class="cmdButton tooltips execute" title="#name#"><i class="fas fa-power-off"></i></span>
    </div>
    <div class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
    <template>
      <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
    </template>
    <script>
      document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').addEventListener('click', function() {
        jeedom.cmd.execute({ id: '#id#' })
      })
  
      jeedom.cmd.addUpdateFunction('#id#', function(_options) {
        if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
          if ('#time#' == 'duration' || '#time#' == 'date') {
            jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
          }
  
          if (_options.display_value >= 1 || _options.display_value == 'on') {
            if ('#logicalId#' == 'onBattery') {
              cmd.unseen()
            } else {
              cmd.seen()
              cmd.querySelector('.cmdButton > i').classList += ' icon_green'
            }
          } else {
            if ('#logicalId#' == 'offBattery') {
              cmd.unseen()
            } else {
              cmd.seen()
              cmd.querySelector('.cmdButton > i').classList += ' icon_red'
            }
          }
        }
      })
  
      jeedom.cmd.refreshValue([{ cmd_id: '#id#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])
    </script>
    <style>
    
    .buttonIcon {
      --icon-size: 30px;
      margin: 2px;
    }
    .buttonIcon .customButton {
      width: calc(var(--icon-size) * 1.5)!important;
      height: calc(var(--icon-size) * 1.5)!important;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .buttonIcon .customButton .cmdButton i {
      font-size: var(--icon-size)!important;
    }
    .buttonIcon .customButton:hover {
      background-color: rgb(220, 220, 220)!important;
      opacity: 0.5;
      border-radius: 50%;
    }
  
  </style>
  </div>
  
  