#INTERNE
SUBSYSTEM=="tty",ENV{ID_PATH}=="platform-ff5c0000.usb-usb-0:1.3:1.0",SYMLINK+="ttyLuna-Zigbee"
SUBSYSTEM=="tty",ENV{ID_PATH}=="platform-ff5c0000.usb-usb-0:1.2:1.0",SYMLINK+="ttyLuna-Ble"

#FTDI
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyUSB-EXTERNAL-$attr{serial}"

#z-wave Aeotec
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="ttyUSB-ZStick-2G"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="ttyUSB-ZStick-5G"

#Opentherm
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303",SYMLINK+="ttyUSB-OTG"

#Zigbee
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d4",SYMLINK+="ttyUSB-ZIGBEE"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1cf1", ATTRS{idProduct}=="0030",SYMLINK+="ttyUSB-ZIGBEE-DECONZ"

#SENA
SUBSYSTEM=="tty", ATTRS{idVendor}=="0a12", ATTRS{idProduct}=="0001",SYMLINK+="ttyUSB-SENA"

#LTE
SUBSYSTEM=="tty",ENV{ID_PATH}=="platform-ff5c0000.usb-usb-0:1.1:1.2",SYMLINK+="ttyLuna-Lte"
