[Unit]
Description=LORA

[Service]
WorkingDirectory=/usr/bin/lora/
ExecStart=/usr/bin/lora/lora_pkt_fwd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target