[Unit]
Description=LTE

[Service]
Type=oneshot
ExecStartPre=echo > /var/log/bg96.log
ExecStart=/usr/bin/bg96 >> /var/log/bg96.log
ExecStop=
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target