[Unit]
Description=LTE

[Service]
Type=oneshot
ExecStart=/usr/bin/bg96
ExecStop=
Restart=on-failure
RestartSec=5
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target